@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

.container{
	width: 980px;
}

.projet_container{
  height: 100%;
}
.projet{
  margin: 15px auto;
}
.parallax{
  margin-top: 50px;
}
}
